link(rel='stylesheet', href='css/style.css', type='text/css', media='screen')
script(src='javascript/script.js')
#micrositeContainer
  #micrositeContainerInner
    #micrositeContainerCompress
      #micrositeHeader
        #micrositeHeaderBanner
          .micrositeModuleContainer
            h1 New microsite h1
        #micrositeHeaderNavigation
          ul
            li.on: a(href='replaceMe') Navigation link1
            li: a(href='replaceMe') Navigation link1
            li: a(href='replaceMe') Navigation link1
            li: a(href='replaceMe') Navigation link1
        #micrositeSocialMediaNav
          ul
            li.micrositeSocialMedia-email: a(href='#', title='Email A Friend') E-mail
            li.micrositeSocialMedia-linkedin: a(href='#', title='Add to LinkedIn') LinkedIn
            li.micrositeSocialMedia-facebook: a(href='#', title='Add to Facebook') Facebook
            li.micrositeSocialMedia-twitter: a(href='#', title='Add to Twitter') Twitter
      #micrositeContent
        #micrositeContentColumnFull
        #micrositeContentColumnLeft
        #micrositeContentColumnRight
      include footer