- var pages = [{name: 'Home', filename: 'index.html'}, {name: 'ReplaceMe', filename: 'replaceMe'}, {name: 'ReplaceMe', filename: 'replaceMe'}, {name: 'ReplaceMe', filename: 'replaceMe'}]

#micrositeHeaderNavigation
  ul
    for page in pages
      if page.name === thisPage
        li.on: a(href='#{page.filename}') #{page.name}
      else
        li: a(href='#{page.filename}') #{page.name}