<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=790">
  <title>Email Subject</title>
  <meta name="robots" content="noindex,nofollow"></meta>
  <meta property="og:title" content="New Site / Blog Launch"></meta>
</head>
<body>

  <div class="wrapper">

    <h1>Hi there {{= site }} {{= msg }}</h1>

    <pre>
      {{= files }}
    </pre>

  </div>

</body>
</html>