extends layoutEmbedded

block content
  #micrositeContainer
    #micrositeContainerInner
      #micrositeContainerCompress
        #micrositeHeader
          #micrositeHeaderBanner
            .micrositeModuleContainer
              h1 Service Virtualization Performance Center
        #micrositeContent
          #micrositeContentColumnFull
            .introSection
              .introSectionLeft
                h2 Accelerated dgkjhgkjafgd
                p faejhfsdjhfkjhsfdjk
              .introSectionRight
                - var foo = 'headline', bar = ' more'
                h2 #{foo} #{bar}
          #micrositeContentColumnLeft
          #micrositeContentColumnRight