extends layoutEmbedded

block content
  #micrositeContainer
    #micrositeContainerInner
      #micrositeContainerCompress
        #micrositeHeader
          #micrositeHeaderBanner
            .micrositeModuleContainer
              h1 Service Virtualization Performance Center
        #micrositeContent
          #micrositeContentColumnFull
            //- introduction stuff here
            include featuredVideo
          #micrositeContentColumnLeft
            .contentTabsCaption Discover how service virtualization can accelerae software delivery cross these platforms
            include contentTabs
          #micrositeContentColumnRight
            p service virtualization resources here